@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 8px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
}

header {
  height: 50vh;
}

#background-video {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.card * {
  color: black;
}

.textoCabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40%;
}

main {
  background-color: white;
  width: 100vw;
}

.presentacion {
  margin: 0 auto;
}

.navBarCartaContacto {
  height: auto;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  left: 5%;
}

.foto02 {
  position: relative;
  margin-top: 2em;
}

.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer,
.presentacion,
.navBarCartaContacto,
.selMenu {
  background-color: #adb5bd;
}

.lista > ul li {
  padding: 1em;
  width: 100%;
}

.formulario {
  margin-left: 100%;
}
.formulario * {
  color: #adb5bd;
}

.imagenForm {
  display: flex;
  justify-content: flex-end;
}

.imagenForm {
  flex-direction: column;
}

.imagenForm > img {
  width: 100%;
  height: 100%;
}

.cartaMain {
  display: grid;
  place-items: center;
  margin: 2em auto;
}

.cartaMain .card {
  border: none;
  margin-bottom: 2em;
}
.cartaMain .alergenos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cartaMain .alergenos li > img {
  min-width: 5em;
  max-width: 5em;
}

.precio {
  font-weight: bolder;
  font-style: italic;
}

.imagenCarta {
  width: 100%;
  height: 5vh;
}

#carne *,
#pescado *,
#postres * {
  color: black;
}

footer {
  width: 100%;
  height: 100%;
}

footer div {
  margin: 2em;
}
@media (min-width: 568px) {
  #navbarNav ul li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 5em;
  }
  .textoCabecera {
    margin-top: 10%;
  }

  .formulario {
    margin-left: 0%;
  }
}

@media (min-width: 768px) {
  .navbar {
    display: grid;
    place-content: center;
  }

  ul .display-5 {
    margin: 0 1em;
  }

  .textoCabecera {
    margin-top: 10%;
  }

  .foto02 {
    position: relative;
    margin-top: 10em;
  }

  .formulario {
    position: absolute;
  }

  .imagenForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .imagenForm > img {
    width: 50%;
    height: 50%;
  }

  .tarjeta {
    padding: 5em;
  }

  .card {
    margin-bottom: 0;
  }

  .parallax {
    padding: 3em 0;
    width: 100%;
    height: 20em;
    color: antiquewhite;
  }
  .card > img:hover {
    transform: scale(1);
    transition: 1.5s;
  }
  #carne *,
  #pasta *,
  #pescado *,
  #bebida *,
  #postres * {
    color: aliceblue;
    font-weight: 900;
  }

  #carne {
    background: url(../img/parallax/pexels-kevin-zamorano-8243229.jpg) center
      center/cover no-repeat fixed;
  }

  #pasta {
    background: url(../img/parallax/pexels-amanda-hemphill-7440327.jpg) center
      center/cover no-repeat fixed;
  }

  #pescado {
    background: url(../img/parallax/pexels-rajesh-tp-2098143.jpg) center
      center/cover no-repeat fixed;
  }

  #bebida {
    background: url(../img/parallax/pexels-pavel-danilyuk-8775391.jpg) center
      center/cover no-repeat fixed;
  }

  #postres {
    background: url(../img/parallax/pexels-pixabay-65882.jpg) center
      center/cover no-repeat fixed;
  }
}
